.font-link {
  font-family: "Heebo", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Spartan", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  /* background-color: rgb(238, 232, 241); */
  background-color: rgb(234, 233, 247);
  color: rgb(52, 32, 71);
}

h1 {
  font-family: "Heebo", sans-serif;
  font-size: 55px;
  text-shadow: 1px 1.5px 0px rgb(206, 205, 205);
}

h2 {
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1.5px 0px rgb(231, 231, 231);
}

h3 {
  font-family: "Heebo", sans-serif;
  color: rgba(243, 218, 247, 0.664);
  text-shadow: 0.5px 0.5px 0px rgb(0, 0, 0);
}

fieldset {
  border: none;
  margin: 1rem 0;
}

header {
  /* For more about flexbox, see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  align-items: center;
  margin-top: -2em;
}

header img {
  height: 64px;
  margin-right: 1em;
  margin-top: -1em;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: -1em;
}

aside {
  margin-left: 2em;
}

footer {
  font-family: monospace;
  margin-top: 3rem;
  font-size: small;
  color: gray;
}

#add-user-name {
  background-color: rgb(236, 235, 245);
}

#add-user-id {
  background-color: rgb(236, 235, 245);
}

#add-user-email {
  background-color: rgb(236, 235, 245);
}

#delete-user-id {
  background-color: rgb(236, 235, 245);
}

#category-search {
  background-color: rgb(236, 235, 245);
}

#date-search {
  background-color: rgb(236, 235, 245);
}

#add-event-id {
  background-color: rgb(236, 235, 245);
}

#add-event-name {
  background-color: rgb(236, 235, 245);
}

#add-event-date {
  background-color: rgb(235, 243, 245);
}

#add-event-description {
  background-color: rgb(235, 243, 245);
}

#add-event-category {
  background-color: rgb(236, 235, 245);
}

#add-event-maxattendees {
  background-color: rgb(236, 235, 245);
}

#add-event-image {
  background-color: rgb(236, 235, 245);
}

#delete-event-id {
  background-color: rgb(236, 235, 245);
}

::placeholder {
  color: rgb(179, 177, 177);
}
